#container{
  height: 100px;
  width: 100px;
  background-color: lightblue;
}

.front{
  z-index: 1;
  position: absolute;
  height: 100px;
  width: 100px;
  background-color: grey;

  transform: rotateY(0deg);
  
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.back{
  height: 100px;
  width: 100px;
  background-color: lightblue;

  transform: rotateY(180deg);
  
 -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flipper {
  position: relative;

  transform: rotateY(180deg);
  transition: 0.8s;
  transform-style: preserve-3d;
}

.flipback{
  position: relative;

  transform: rotateY(0deg);
  transition: 0.8s;
  transform-style: preserve-3d;
}